*.class
*.log
.ssh/

# sbt specific
.cache/
.history/
.lib/
.sbt/
.ivy2/
dist/*
target/
lib_managed/
src_managed/
project/
!project/Dependencies.scala
!project/build.properties
scalastyle-config.xml
.bsp/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
.bloop/
.metals/
metals.sbt
.scalafmt.conf

# Laerdal test run directory
null/
testruns/

.vscode/

